//colors
$white: #fff;
$brown: #694a2a;
$black: #231f20;
$nav-lr:#A73638;
//fonts
@import 'https://fonts.googleapis.com/css?family=Gentium+Book+Basic|Open+Sans:400,800';
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
$font_gentium: 'Gentium Book Basic', serif;
$font_open: 'Open Sans', sans-serif;

//urls
$url_2: url(../images/fondo.jpg);
$url_3:url(../images/fondo-mobile.jpg)
